@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

div {
	font-family: 'Josefin Sans', sans-serif;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #F2EDCF;
}

.content {
	width: 960px;
	min-height: 100%;
	margin: 0 auto;
}
/*подчеркивание текста*/
.underline {
	text-decoration: underline;
}
/*красный цвет*/
.textcolor_red {
	color: #cc0000;
}
/*оранжевый цвет*/
.textcolor_orange {
	color: #fe9000;
}
/*первод текста в верхний регистр*/
.transform {
	text-transform: uppercase;

}

a {
	text-decoration: none;
	color: white;
}

.middle {
	position: relative;
	text-align: center;
}

/* Шапка */
.header {
	padding: 10px 0;
	background: #BAD054;
}

/*Название сайта*/
.header .title {
	margin-left: 50px;
}

.header .title h1 {
	color: #f3ecd0;
}

.header .title h1,
.header .title .top_description {
	margin: 0;
	font-family: 'Indie Flower', cursive;
}

/*Верхнее меню*/
.header .top_menu {
	background: #19191B;
}

.header .top_menu ul {
	margin: 15px 0 0 0;
	padding: 10px 15px;
	overflow: hidden;
}

.header .top_menu ul li {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	display: block;
	font-size: 18px;
	color: #fff;
	overflow: hidden;
}

.header .top_menu ul li:after{
	content: '|';
	width: 1px;
	height: 16px;
	float: right;
	margin: 0 10px;
	display: inline;
}

.header .top_menu ul li:first-child {
	width: 100px;
}

.header .top_menu ul li:last-child:after {
	display: none;
}

/*Блок с тремя изображениями*/
.header .images {
	height: 150px;
	width: 500px;
	position: absolute;
	margin: 85px 0 0 20px;
}

.header .images .round {
	height: 125px;
	width: 125px;
	position: relative;
	z-index: 2;
	margin: 11px;
	display: inline;
	border-radius: 10px;
	border: 1px solid black;
}

/*Изображение*/
.header .pic {
	position: relative;
	z-index: 1;
}

.header .bot_description h2{
	margin: 10px 20px 0 0;
	text-align: right;
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
	color: #f3ecd0;
}

.header .bot_description p{
	margin: 0 20px 0 0;
	text-align: right;
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
}

/*Центральное меню*/
.center .center_menu {
	width: 200px;
	position: absolute;
	overflow: hidden;
}

.center .center_menu .center_menu_top {
	width: 190px;
	position: relative;
	z-index: 2;
	margin: 0 5px;
	border: 1px solid #dad3a7;
	border-radius: 0 0 25px 25px;	
	background: #dad3a7;
}

.center .center_menu .center_menu_top ul{
	list-style: none;
}

.center .center_menu .center_menu_bot {
	width: 190px;
	position: relative;
	z-index: 1;
	margin: -50px 5px 0 5px;
	padding: 60px 0 10px 0;
	border: 1px solid #f9b31a;
	border-radius: 0 0 25px 25px;
	background: #f9b31a;
	overflow: hidden;
}

.center .center_menu .center_menu_bot #color1 {
	color: #f3ecd0;
}

.center .center_menu .center_menu_bot #color2 {
	color: #834800;
}

.center .center_menu .center_menu_bot p {
	margin: 0 0 0 40px;
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
}

.center .center_menu hr {
	width: 75%;
	margin: 3px 0;
}

/*Блоки с текстом*/
.center .main {
	width: 760px;
	float: right;
	margin: 0 20px;
	display: table;
}

.center .main .row {
	display: table-row;
}

.center .main .text_block {
	width: 35%;
	padding: 10px;
	border: 2px solid #ceccc5;
	background: #fbf3c8;
	text-align: justify;
	display: table-cell;
}

.center .main #first{
	float: left;
	margin: 0 0 0 10%;
}

.center .main #second{
	float: right;
	margin: 0 5% 0 0;
}

.center .main #second ul {
	list-style-type: none;
}

.center .main #second ul li:before {
	content: "» ";
	margin: 0 0 0 -25px;
	font-size: 125%;
	font-weight: bold;
}

.center .main #third {
	border-radius: 30px 30px 0 0;
	float: left;
	margin: 20px 0 0 10%;

}

.center .main #fourth {
	border-radius: 30px 30px 0 0;
	float: right;
	margin: 20px 5% 0 0;
}

.center .main .text_block .caption {
	margin: -11px;
	text-align: center;
	font-size: 20px;
	border-radius: 30px 30px 0 0;
	background: #6d5843;
	color: white;
	overflow: hidden;
}

.center .main .text {
	padding: 5px;
	text-align: justify;
}

/*Блок с 3 изображениями*/
.center .new_images {
	height: 200px;
	width: 620px;
	float: left;
	margin: 30px 0 0 0;	
}

.center .new_images .square {
	height: 160px;
	width: 160px;
	display: inline-block;
	margin: 15px;
	border: 5px solid #dfd8aa;
	border-radius: 30px;
}

.center .new_images .square span p {

	margin: -50px 0 0 0;
	font-weight: bold;
	font-size: 25px;
	background: rgba(249, 247, 240, 0.5);
	color: black;
}

.center .new_images .round {
	border-radius: 25px;
}

/*Скидочное предложение и контакты*/
.center .banner {
	width: 288px;
	float: right;
	margin: 25px 50px 0 0;
}

.center .banner .announce {
	width: inherit;
	position: absolute;
	background: #fe9000;
}

.center .banner .announce .ad {
	width: 240px;
	float: left;
	margin: 13px 23px 5px 23px;
	border: 3px dashed white;
	position: relative;
}

.center .banner .announce .ad h6 span {
	text-align: center;
	font-weight: bold;
	color: white;
	padding: 0 45px;
	background: rgba(252, 175, 57, 0.75);
}

.center .banner .announce .ad h6 {
	font-size: 19px;
	margin: 5px;
}

.center .banner .announce p{
	margin: 5px 0 0 0;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

/*Подвал сайта*/
.footer {
	
}

.footer .bot_menu {
	position: relative;
	top: 20px;
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.footer .bot_menu ul {
	float: left;
	position: relative;
	margin: 0;
    padding: 0;
    left: 50%;
	list-style: none;
}

.footer .bot_menu ul li {
	float: left;
	position: relative;
    left: -50%;
    margin: 5px 5px;
	display: inline;
}

.footer .bot_menu ul li:after {
	content: " | ";
	width: 1px;
	height: 16px;
}

.footer .bot_menu ul li:last-child:after {
	display: none;
}

.footer .bot_menu .copyright p {
	float: left;
	margin: 10px 30%;
}